@model CMdm.UI.Web.Models.Customer.CIUModel
@Html.ValidationSummary(true)


<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.ACCOUNT_NO)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.CMdmEditorFor(model => model.ACCOUNT_NO)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
